body {
  background-color: #9BA4B5;
  font-family: 'Bruno Ace SC', cursive, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: #212A3E;
}

.section2 {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 50px;
  text-align: center;
  border: solid 4px #212a3ebb;
  background-color: #0c426154;
  border-radius: 15px;
}

.section2 > p {
  font-size: 25px;
  padding-bottom: 30px;
  margin: 0;
  color: black;
}

.playerInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px 10px;
}

#getPlayerName {
  flex-basis: 250px;
  font-size: 17px;
  border-radius: 10px;
  border: solid 2px #212a3ebb;
  background-color: #9BA4B5;
  padding: 0 20px 0 20px;
}

#submitButton {
  flex-basis: 150px;
  height: 30px;
  border: solid 2px #212a3ebb;
  background-color: #9BA4B5;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

#submitButton:hover {
  background-color: #212a3ebb;
  color: #9BA4B5;
}

.section3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.computerChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computerChoice > img {
  border: solid blue 3px;
}

.computerChoice > p {
  font-size: 20px;
  margin-top: 0;
}

.section4 {
  text-align: center;
}

.roundSituation {
  margin: 50px 0;
  font-size: 30px;
}

.playerChoiceContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.rock > button,
.paper > button,
.scissors > button {
  border: solid blue 3px;
}

.rock > p,
.paper > p,
.scissors > p {
  font-size: 20px;
}

.section5 {
  text-align: center;
}

.scoreTitle {
  font-size: 30px;
}

.scoreCount > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}

ul > li {
  font-size: 30px;
}

.hidden {
  display: none;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  height: 50px;
  align-items: center;
  font-size: 18px;
}