body {
  background-color: gray;
  font-family: 'Bruno Ace SC', cursive, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
}

h1 {
  font-size: 45px;
  text-align: center;
}

.section2 {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  text-align: center;
}

.section2 > p {
  font-size: 25px;
}

.playerInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 5px 10px;
}

#getPlayerName {
  flex-basis: 400px;
}

#submitButton {
  flex-basis: 200px;
}

.section3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.computerChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computerChoice > img {
  border: solid blue 3px;
}

.computerChoice > p {
  font-size: 20px;
  margin-top: 0;
}

.section4 {
  text-align: center;
}

.playerChoiceTitle {
  margin: 50px 0;
  font-size: 30px;
}

.playerChoice {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.rock > img,
.paper > img,
.scissors > img {
  border: solid blue 3px;
}